In [3]:
import pandas as pd
import os
from random import randint
import random 
import numpy as np
import matplotlib.pyplot as plt

In [9]:
pd.read_csv('/Users/AP-CNL/Desktop/4RT/Stimuli/Schedules/practice/schedule-089.csv', index_col=0, keep_default_na=False)

    duration stim_type
0        2.0    circle
1        1.5      NULL
2        2.0    circle
3        1.4      NULL
4        2.0      line
5        1.9      NULL
6        2.0    square
7        1.5      NULL
8        2.0    circle
9        1.2      NULL
10       1.5      NULL
11       2.0      line
12       1.3      NULL
13       2.0    square
14       1.5      NULL
15       2.0      line
16       1.1      NULL
17       2.0    square
18       2.0  triangle
19       1.7      NULL
20       1.8      NULL
21       2.0    square
22       2.0    square
23       1.2      NULL
24       1.6      NULL
25       2.0  triangle
26       1.9      NULL
27       2.0  triangle
28       2.0      line
29       1.7      NULL
30       1.7      NULL
31       2.0  triangle
32       1.6      NULL
33       2.0      line
34       1.8      NULL
35       2.0    circle
36       1.3      NULL
37       2.0  triangle
38       2.0    circle
39       1.4      NULL

In [75]:
def get_sched(fpath):
    with open(fpath, 'r') as f:
        lines = f.readlines()
        lines = [line.split() for line in lines]
    schedule = pd.DataFrame(lines, columns=['time', 'stim_code', 'duration', '?', 'stim_type'])
    schedule = schedule.apply(pd.to_numeric, errors='ignore')
    return schedule

In [76]:
fpath = '/Users/AP-CNL/Desktop/4RT/Stimuli/Schedules/4_options/schedule-001.par'
df = get_sched(fpath)

In [10]:
dirs = '/Users/AP-CNL/Desktop/4RT/Stimuli/Schedules/practice'
stim_list = ['line', 'square', 'circle', 'triangle']*5
for i in range(100):
    random.shuffle(stim_list)
    duration = [np.round(random.uniform(1, 2), 1) for i in range(20)]
    null_data = pd.DataFrame({'duration':duration, 'stim_type':['NULL']*20}).reset_index(drop=True)
    stim_data = pd.DataFrame({'duration':[2]*20, 'stim_type':stim_list}).reset_index(drop=True)
    practice_data = pd.concat([stim_data, null_data], keys=[0,1]).sort_index(level=1).reset_index(drop=True)
    practice_data.to_csv(os.path.join(dirs, f'schedule-{i:03}.csv'))

In [11]:
practice_data

    duration stim_type
0        2.0    square
1        1.8      NULL
2        2.0  triangle
3        1.5      NULL
4        2.0    circle
5        1.8      NULL
6        2.0    circle
7        1.7      NULL
8        2.0    circle
9        1.4      NULL
10       2.0    square
11       1.6      NULL
12       2.0    square
13       1.2      NULL
14       2.0  triangle
15       1.3      NULL
16       2.0  triangle
17       1.1      NULL
18       2.0    circle
19       1.7      NULL
20       2.0      line
21       1.8      NULL
22       2.0      line
23       1.6      NULL
24       2.0    square
25       1.3      NULL
26       2.0  triangle
27       1.4      NULL
28       2.0  triangle
29       1.7      NULL
30       2.0      line
31       1.5      NULL
32       2.0    circle
33       1.4      NULL
34       2.0      line
35       1.5      NULL
36       2.0    square
37       2.0      NULL
38       2.0      line
39       1.1      NULL

In [80]:
df[::-1]

      time  stim_code  duration    ? stim_type
239  419.0          0       1.0  1.0      NULL
238  417.0          1       2.0  1.0      line
237  416.5          0       0.5  1.0      NULL
236  414.5          2       2.0  1.0    square
235  412.5          0       2.0  1.0      NULL
..     ...        ...       ...  ...       ...
4      5.0          4       2.0  1.0    circle
3      4.5          0       0.5  1.0      NULL
2      2.5          1       2.0  1.0      line
1      2.0          0       0.5  1.0      NULL
0      0.0          2       2.0  1.0    square

[240 rows x 5 columns]

# Generating the Order Text Files

In [4]:
order_dirs = '/Users/AP-CNL/Desktop/4RT/Stimuli/Order'

In [8]:
opt_dict = {'1_option':['line'],
            '2_options':['line', 'square'],
            '4_options':['line', 'circle', 'triangle', 'square']}

In [40]:
def get_order(opt_list):
    count = 40 // len(opt_list)
    count_list = [count for i in range(len(opt_list))]
    order_list = []
    i = 40
    while i > 0:
        index = randint(0, len(opt_list)-1)
        if count_list[index] > 0:
            count_list[index] = count_list[index] - 1
            order_list.append(opt_list[index])
            i -= 1
        else:
            continue
    return order_list

In [45]:
for fldr in os.listdir(order_dirs):
    for i in range(1, 101):
        opt_list = get_order(opt_dict[fldr])
        txt_path = os.path.join(order_dirs, fldr, f'order_{i:03}.txt')
        with open(txt_path, 'w') as file:
            file.writelines(f'{opt}/n' for opt in opt_list)

# Other Testing

In [7]:
one_opt_list = os.listdir('/Users/AP-CNL/Desktop/4RT/Stimuli/Order/1_option')
random.shuffle(one_opt_list)
one_opt_list[0]

'order_036.txt'

In [17]:
txt_path = '/Users/AP-CNL/Desktop/4RT/Stimuli/Order/4_options/order_001.txt'
with open(txt_path, 'r') as file:
    order_list = [line.strip() for line in file]

order_list = [item for pair in zip(order_list, ['feedback']*len(order_list)) for item in pair][:-1]
print(order_list)

['circle', 'feedback', 'line', 'feedback', 'triangle', 'feedback', 'square', 'feedback', 'line', 'feedback', 'circle', 'feedback', 'circle', 'feedback', 'square', 'feedback', 'circle', 'feedback', 'line', 'feedback', 'square', 'feedback', 'circle', 'feedback', 'square', 'feedback', 'square', 'feedback', 'line', 'feedback', 'triangle', 'feedback', 'triangle', 'feedback', 'line', 'feedback', 'square', 'feedback', 'triangle', 'feedback', 'line', 'feedback', 'triangle', 'feedback', 'triangle', 'feedback', 'triangle', 'feedback', 'triangle', 'feedback', 'line', 'feedback', 'line', 'feedback', 'square', 'feedback', 'square', 'feedback', 'circle', 'feedback', 'square', 'feedback', 'square', 'feedback', 'triangle', 'feedback', 'line', 'feedback', 'triangle', 'feedback', 'line', 'feedback', 'circle', 'feedback', 'circle', 'feedback', 'circle', 'feedback', 'circle']